[submodule "inventories"]
	path = inventories
	url = https://github.com/steuerfrau/inventories.git
	branch = testing
[submodule "roles/role_bi_selinux"]
	path = roles/role_bi_selinux
	url = https://github.com/steuerfrau/role_bi_selinux.git
	branch = prod
[submodule "roles/role_hv_kvm"]
	path = roles/role_hv_kvm
	url = git@github.com:steuerfrau/role_hv_kvm.git
	branch = prod
[submodule "roles/role_mod_netbridge_stdlinux"]
	path = roles/role_mod_netbridge_stdlinux
	url = git@github.com:steuerfrau/role_mod_netbridge_stdlinux.git
	branch = prod
